@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e4dbdb
}

h1 {
    margin-top: 15px;
    text-align: center;
}

.cont-geral {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}

.imagem {
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 10px;
}

ul {
    text-align: justify;
    list-style: inside;
    
}

ol {
    list-style: inside;
}

.modo-prep h2 {
    text-align: center;
    margin-bottom: 30px;
}

.modo-prep {
    margin: 20px 0px 0px 20px;
    background-color: #97422F;
    padding: 15px;
    color: azure;
    width: 80vw;
    justify-self: center;
}
